parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
